* {
    background-color: #12081A;
    /* background-color: #23192b; */
    box-sizing: border-box;
    /* margin: 10;
    padding: 232342342340; */
    font-family: 'Poppins', sans-serif;    
}

body {
    background-color: #23192b;
    /* color: white; */
}

.description {
    color: #A57FC1;
}


