nav {
  /* top: 20px !important; */
  width: 100%;
  height: 100px;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  color: white;
  background-color: black;
  max-height: 4em;
  /* justify-content: flex-end; */
  display: flex;
}

#home,
#about,
#download {
  font-size: 18px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
  transition-delay: 0.25s;
  margin-right: 25px;
  color: white;
  /* justify-content: end; */
}

#home:hover {
  cursor: pointer;
  border-bottom: 1px solid #12081a;
  color: #a57fc1;
}

#download:hover {
  cursor: pointer;
  border-bottom: 1px solid #12081a;
  color: #a57fc1;
}

#about:hover {
  cursor: pointer;
  border-bottom: 1px solid #12081a;
  color: #a57fc1;
}
