nav {
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	/* padding: 1.2em 0; */
	color: white;
	/* background-color: var(--darkAccent); */
	max-height: 4em;
	/* justify-content: flex-end; */
	display: flex;
	
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.3s ease;	
	margin: 1em;
	/* padding-bottom: 1.3em;	 */
	margin-right: 12;
	/* justify-content: end; */
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: white;
}

nav span.activeClass {
	border-bottom-color: var(--lightAccent);
}